.articles_page {
  overflow: hidden;
  .container {
    max-width: 1435px;
    width: 100%;
    border-radius: 0px 0px 45px 45px;
    position: relative;
    z-index: 5;
    padding-bottom: 100px;
    @media (min-width: 992px) {
      background: #FFF7FB;
    }
    &:before {
      //content: url("../../src/img/top_line_bg.svg");
      position: absolute;
      top: -78px;
      left: 0;
      right: 0;
      width: 100%;
    }
    &:after {
      //content: url("../../src/img/bottom_line_bg.svg");
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
    }
  }
  .container__while {
    background: white;
    margin-top: 0;
    &:before {
      content: "";
    }
    &:after {
      content: "";
    }
  }
  .articles_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subtitle {
    @media (min-width: 992px) {
      display: none;
    }
  }
  .main_articles {
    display: flex;
    flex-direction: column;
    max-width: 515px;
    width: 100%;
    align-self: flex-start;
    display: none;
    @media (min-width: 992px) {
      display: flex;
    }
    .subtitle {
      display: flex;
      align-items: center;
      span {
        font-size: 14px;
        line-height: 140%;
        color: #3B497E;
        background: #E0E0E0;
        border-radius: 29px;
        padding: 4px 16px;
        margin-left: 8px;
      }
    }
    .description {
      margin-top: 30px;
      p {
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        color: #51555F;
      }
    }
  }
  .articles_block {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    @media (min-width: 768px) {
      grid-template-columns: repeat(2,1fr);
    }
    @media (min-width: 992px) {
      grid-template-columns: repeat(1,1fr);
      margin-top: 50px;
    }
  }
  .articles_item {
    padding: 16px;
    background: #FFFFFF;
    box-shadow: 0px 2px 12px #D3D5E3;
    border-radius: 8px;
    margin-top: 16px;
    max-width: 350px;
    width: 100%;
    display: grid;
    grid-template: "title" auto
                   "img" auto
                   "date" auto
                   "description" auto
                   "link" auto;
    @media (min-width: 992px) {
      background: #FFF7FB;
      box-shadow: none;
      max-width: none;
      grid-template:
            "img title" auto
            "img date" auto
            "img description" auto
            "img link" auto;
      padding: 0;
      margin-top: 50px;
      &:first-child{
        margin-top: 0;
      }
    }
    .articles_post {
      align-self: flex-start;
      grid-area: title;
      @media (min-width: 768px) {
        align-self: center;
      }
      p {
        font-weight: 500;
        font-size: 16px;
        color: #373A41;
      }
    }
    .articles_photo {
      margin-top: 16px;
      grid-area: img;
      position: relative;
      img {
        border-radius: 8px;
        width: 100%;
      }
      @media (min-width: 992px) {
        margin-top: 0;
        margin-right: 32px;
      }
    }
    .articles_date {
      margin-top: 16px;
      position: relative;
      padding-bottom: 8px;
      align-self: flex-start;
      width: 100%;
      grid-area: date;
      span {
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: #373A41;
        font-style: italic;
      }
      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        max-width: 197px;
        width: 100%;
        background: #BDBDBD;
      }
    }
    .articles_description {
      margin-top: 16px;
      grid-area: description;
      p {
        font-size: 14px;
        line-height: 140%;
        color: #373A41;
      }
    }
    .articles_link {
      grid-area: link;
      font-size: 16px;
      line-height: 140%;
      color: #3B497E;
      padding: 8px;
      border: 1px solid #3B497E;
      box-sizing: border-box;
      border-radius: 82px;
      align-items: center;
      justify-content: center;
      max-width: 186px;
      width: 100%;
      display: none;
      @media (min-width: 992px) {
        display: flex;
      }
    }
  }
  .articles__not_active {
    .articles_photo {
      img {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
      &:after {
        content: "";
        background: rgba(167, 167, 167, 0.1);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  .block_bg {
    margin-bottom: -5px;
    position: relative;
    max-width: 1435px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    z-index: 5;
    display: none;
    @media (min-width: 992px) {
      display: block;
    }
    .flowers_left {
      position: absolute;
      left: 0px;
      top: -122px;
    }

    .flowers_left__desk {
      display: none;
      @media (max-width: 1250px) {
        top: -100px;
        img {
          width: 125px;
        }
      }
      @media (max-width: 1150px) {
        top: -50px;
        img {
          width: 85px;
        }
      }
      @media (min-width: 992px) {
        display: block;
      }
    }

    .flowers_left__mob {
      left: 15px;
      top: -50px;
      @media (min-width: 992px) {
        display: none;
      }
    }

    .flowers_right {
      position: absolute;
      z-index: -1;
      transform: rotate(30deg);
      right: 20px;
      top: -60px;
      img {
        width: 70px;
        height: 83px;
      }
      @media (min-width: 992px) {
        right: 0px;
        top: -80px;
        transform: rotate(0deg);
        img {
          width: auto;
          height: auto;
        }
      }
    }
  }
  .block_bg__bottom {
    margin-top: 0px;
    position: relative;
    z-index: 5;
    max-width: 1435px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 992px) {
      margin-top: -80px;
    }

    .line {
      &_desk {
        display: none;
        @media (min-width: 992px) {
          display: block;
        }
      }
      &_mob {
        max-height: 45px;
        height: 100%;
        width: 100%;
        object-fit: cover;
        @media (min-width: 992px) {
          display: none;
        }
      }
    }

    .flowers_left {
      position: absolute;
      left: -10px;
      top: -60px;
    }

    .flowers_left__desk {
      display: none;
      @media (min-width: 992px) {
        display: block;
      }
    }

    .flowers_left__mob {
      left: 15px;
      top: -50px;
      @media (min-width: 992px) {
        display: none;
      }
    }

    .flowers_right {
      position: absolute;
      z-index: -1;
      right: 20px;
      top: -60px;
      @media (min-width: 992px) {
        right: 0px;
        top: -160px;
      }
    }

    .flowers_right__desk {
      display: none;
      @media (min-width: 992px) {
        display: block;
      }
    }

    .flowers_right__mob {
      right: 0px;
      top: -35px;
      @media (min-width: 992px) {
        display: none;
      }
    }
  }

}


.articles_item_page {
  overflow: hidden;
  .articles_item {

  }
  .container {
    max-width: 1435px;
    width: 100%;
    background: #FFF7FB;
    border-radius: 0px 0px 45px 45px;
    position: relative;
    //margin-top: 75px;
    //padding-bottom: 50px;
    &:before {
      //content: url("../../src/img/top_line_bg.svg");
      position: absolute;
      top: -78px;
      left: 0;
      right: 0;
      width: 100%;
    }
    &:after {
      //content: url("../../src/img/bottom_line_bg.svg");
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
    }
  }
  .container__while {
    background: white;
    margin-top: 0;
    .wrapper {
      padding-bottom: 100px;
      //@media (min-width: 992px) {
      //  padding-bottom: 100px;
      //}
    }
  }
  .articles_info {
    display: flex;
    flex-direction: column;
    .articles_date {
      margin-top: 16px;
      position: relative;
      padding-bottom: 8px;
      align-self: flex-start;
      width: 100%;
      grid-area: date;
      span {
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: #373A41;
        font-style: italic;
      }
      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        max-width: 197px;
        width: 100%;
        background: #BDBDBD;
      }
    }
    .articles_tags {
      display: flex;
      align-self: flex-start;
      flex-wrap: wrap;
      margin-top: 8px;
      .tags_item {
        background: #E0E0E0;
        border-radius: 29px;
        margin-right: 8px;
        margin-top: 8px;
        span {
          font-size: 14px;
          line-height: 140%;
          color: #3B497E;
          padding: 4px 16px;
        }
      }
    }
  }
  .articles_list {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #373A41;
    }
    &_item {
      margin-top: 16px;
      font-size: 14px;
      line-height: 140%;
      text-decoration-line: underline;
      a {
        color: #3B497E;
      }

    }
  }
  .articles_content {
    p {
      font-size: 14px;
      line-height: 140%;
      color: #51555F;
      margin-top: 25px;
      @media (min-width: 992px) {
        font-size: 16px;
      }
    }
    .articles__img {
      margin-top: 24px;
      img {

      }
    }
    h3 {
      margin-top: 50px;
      font-weight: 500;
      font-size: 20px;
      line-height: 140%;
      color: #000000;
      @media (min-width: 992px) {
        font-size: 28px;
        line-height: 140%;
      }
    }
    a {
      background: #3B497E;
      border-radius: 82px;
      padding: 8px 20px;
      margin-top: 24px;
      display: flex;
      width: fit-content;
      span {
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;
      }
    }
    ul {
      li {
        &::marker {
          border-radius: 3px 3px 3px 3px;
          font-size: 1.5rem;
          color: #FFA4D5;
          width: 10px;
          height: 10px;
        }
      }
    }
  }
  .articles_next {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-bottom: 30px;
    @media (min-width: 992px) {
      flex-direction: row;
      align-items: center;
    }
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
    }
    a {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #3B497E;
    }
    .next_block {
      display: flex;
      align-items: center;
      margin-top: 8px;
      @media (min-width: 992px) {
        margin-top: 0px;
        margin-left: 8px;
      }
      &:hover {
        svg {
          transform: translateX(5px);
          transition: all 0.3s;
        }
      }
    }
    svg {
      margin-left: 8px;
      transition: all 0.3s;
    }
  }
  .block_bg {
    margin-bottom: -5px;
    position: relative;
    max-width: 1435px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    z-index: 5;
    .flowers_left {
      position: absolute;
      left: 0px;
      top: -122px;
    }

    .flowers_left__desk {
      display: none;
      @media (max-width: 1250px) {
        top: -100px;
        img {
          width: 125px;
        }
      }
      @media (max-width: 1150px) {
        top: -50px;
        img {
          width: 85px;
        }
      }
      @media (min-width: 992px) {
        display: block;
      }
    }

    .flowers_left__mob {
      left: 15px;
      top: -50px;
      @media (min-width: 992px) {
        display: none;
      }
    }

    .flowers_right {
      position: absolute;
      z-index: -1;
      transform: rotate(30deg);
      right: 20px;
      top: -60px;
      img {
        width: 70px;
        height: 83px;
      }
      @media (min-width: 992px) {
        right: 0px;
        top: -80px;
        transform: rotate(0deg);
        img {
          width: auto;
          height: auto;
        }
      }
    }
  }
  .block_bg__bottom {
    margin-top: 0px;
    position: relative;
    z-index: 5;
    max-width: 1435px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: -40px;
    @media (min-width: 992px) {
      //margin-top: -80px;
    }

    .line {
      &_desk {
        display: block;
        @media (min-width: 992px) {
          display: block;
        }
      }
      &_mob {
        max-height: 45px;
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: none;
        @media (min-width: 992px) {
          display: none;
        }
      }
    }

    .flowers_left {
      position: absolute;
      left: -10px;
      top: -60px;
    }

    .flowers_left__desk {
      display: none;
      @media (min-width: 992px) {
        display: block;
      }
    }

    .flowers_left__mob {
      left: 15px;
      top: -50px;
      @media (min-width: 992px) {
        display: none;
      }
    }

    .flowers_right {
      position: absolute;
      z-index: -1;
      right: 20px;
      top: -60px;
      @media (min-width: 992px) {
        right: 0px;
        top: -160px;
      }
    }

    .flowers_right__desk {
      display: none;
      @media (min-width: 992px) {
        display: block;
      }
    }

    .flowers_right__mob {
      right: 0px;
      top: -35px;
      @media (min-width: 992px) {
        display: none;
      }
    }
  }
}